<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <title>Alerta</title>
</head>
<body>
    <header>
        <div class="titulo">
            <div class="nombretitulo">
                <h1> CLÍNICA PARTERNON</h1>
            </div>
            <div class="logo">
                <img src="{{url_for('static',filename='img/imagen.png')}}" class="imglogo">
            </div>
        </div>

    </header>
    <main>
        <div class="contenedor-form" id="cont">

            <div class="toggle"  onclick="agre();">
                <a href="/registro"><samp>regresar al registro</samp></a>
                <hr width="1" size="5">
                <a href="/"><samp>regresar al login</samp></a>
            </div>
            
            
            <div class="formulario" width="60%">
             <a onclick="agre()" name="mensaje_alerta">{{mensaje_alerta}}</a>
            </div>
        </div>


    </main>
    <footer>

    </footer>
    
</body>
</html>