<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link href="../statics/css/style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="titulo">
            <div class="nombretitulo">
                <h1> CLÍNICA PARTERNON</h1>
            </div>
            <div class="logo">
                <img class="imglogo" src="../img/imagen.png" >
            </div>
        </div>

    </header>
    <main>
        <div class="contenedor-datos">
            
            <div class="primer bloque" >
             <h2 onclick="agre()">Detalles de citas</h2>
             <form id ="form" method="post" action="">
                <h3>Cita Médica</h3>
                <hr>
                <h4> Especialidad: </h4>
                <h4> Paciente: </h4>
                <h4> Turno: </h4>
                <input type="submit" name ="iniciar" value="Modificar" >
                <input type="submit" name ="actualizar" value="Cancelar" >
              </form>
             </div>
             <div class="Volver">
                <form id ="form" method="post" action="">
                    <input type="submit" name ="actualizar" value="Volver" >
                </form>
            </div>
        </div>
           
    </main>
    <footer>

    </footer>
    
</body>
</html>