<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <title>Registrarse</title>
</head>
<body>
    <header>
        <div class="titulo">
            <div class="nombretitulo">
                <h1>REGISTRO CLÍNICA PARTERNON</h1>
            </div>
            <div class="logo">
                <img class="imglogo" src="../img/logopartenon.png" >
            </div>
        </div>

    </header>
    <main>
        <div class="contenedor-registro">
            
            <div class="formulario_registro" >
             <h2>REGISTRARSE</h2>
             <form id ="form" method="post" action="/ingresardatos">
               <input type="text" style="width: 80% !important;" id = "nomcrear" name= "nomcrear" placeholder="Nombres" required>
               <input type="text" style="width: 80% !important;" id ="apellidocrear" name= "apellidocrear" placeholder="Apellidos" required>
               <input type="text" style="width: 80% !important;" id ="cedulacrear" name= "cedulacrear" placeholder="Cédula" required>
               <input type="text" style="width: 80% !important;" id ="correocrear" name= "correocrear" placeholder="Correo electrónico" required>
               <input type="text" style="width: 80% !important;" id ="telefonocrear" name= "telefonocrear" placeholder="Telefono" required>
               <input type="password" style="width: 80% !important;" id ="passwordcrear" name= "passwordcrear" placeholder="Password" required>
               
                <input type="submit" name ="registrarse" value="Registrarse" >
                
              </form>
             </div>
        </div>
           


    </main>
    <footer>

    </footer>
    
</body>
</html>