<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link href="../statics/css/style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="titulo">
            <div class="nombretitulo">
                <h1> CLÍNICA PARTENON</h1>
            </div>
            <div class="logo">
                <img class="imglogo" src="../img/imagen.png" >
            </div>
        </div>

    </header>
    
    <main>
    <div>
    <img src="../img/fotousuario.png" width="195" height="160" alt=""/>
    &nbsp;</div>
    <!--
        <div class="contenedor-form">
            
            <div class="toggle" onclick="agre();"> 
             <samp>Crear Cuenta</samp>
            </div>
            
            
            <div class="formulario" >
             <h2 onclick="agre()">PAGINA DE USUARIO</h2>
             <form id ="form" method="post" action="">
               <input type="text" style="width: 100% !important;" id = "usulog" placeholder="Usuario" required>
               <input type="password" style="width: 100% !important;" id ="contralog" placeholder="Contraseña" required>
                <input type="submit" name ="iniciar" value="Iniciar Sesión" >
              </form>
             </div>
        </div>
        -->
           <div class="contenedor-registro">
            
            <div class="formulario_registro" >
<h2>DATOS USUARIO</h2>
             <form id ="form" method="post" action="">
               <input type="text" style="width: 80% !important;" id = "nomcrear" placeholder="Nombres" required>
               <input type="text" style="width: 80% !important;" id ="apellidocrear" placeholder="Apellidos" required>
               <input type="text" style="width: 80% !important;" id ="correocrear" placeholder="Correo electrónico" required>
               <input type="text" style="width: 80% !important;" id ="telefonocrear" placeholder="Perfil (Paciente/Medico)" required>
               <input type="text" style="width: 80% !important;" id ="plancrear" placeholder="Tipo de Plan" required>
               <input type="password" style="width: 80% !important;" id ="passwordcrear" placeholder="Cambiar Contraseña" required>
               <input type="password" style="width: 80% !important;" id ="passwordconfirmar" placeholder="Confirma Contraseña" required>
                <input type="submit" name ="actualizar" value="Actualizar contraseña" >
                
              </form>
             </div>
        </div>


    </main>
    <footer>

    </footer>
    
</body>
</html>